/*Style sheet for resume.html*/

p{
    margin-top: 0;
    margin-bottom: 0;
}

.heading{
    text-align: center;
}

ul{
    list-style-type:none;
}

ul li:before{
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}